{% macro display() %}
    {% set data = load_data(path="data/skills.json") %}
    <div class="is-flex is-flex-direction-column is-justify-content-center"
         style="height: 100%">
        <h2>skills</h2>
        <div style="overflow: auto;">
            {% for group in data %}
                <div style="padding-bottom: 1rem;">
                    <h3 style="color: #4a4a4a;">{{ group.grouping }}</h3>
                    <div class="skills-container">
                        {% for skill in group.skills %}
                            {% if "name" in skill %}
                                {% if "icon" in skill %}
                                    <i class="devicon-{{ skill.icon | lower }}-plain"></i> {{ skill.name }}
                                {% else %}
                                    <i class="devicon-{{ skill.name | lower }}-plain"></i> {{ skill.name }}
                                {% endif %}
                            {% else %}
                                <i class="devicon-{{ skill | lower }}-plain"></i> {{ skill }}
                            {% endif %}
                            {% if not loop.last %} &nbsp; {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}
