{% macro menu() %}
    <ul id="menu" class="menu-list">
        {% if config.extra.show_about %}
            <li data-menuanchor="about">
                <a href="{{ get_url(path='/#anchor_about') }}">ABOUT</a>
            </li>
        {% endif %}
        {% if config.extra.show_skills %}
            <li data-menuanchor="skills">
                <a href="{{ get_url(path='/#anchor_skills') }}">SKILLS</a>
            </li>
        {% endif %}
        {% if config.extra.show_projects %}
            <li data-menuanchor="projects">
                <a href="{{ get_url(path='/#anchor_projects') }}">PROJECTS</a>
            </li>
        {% endif %}
        {% if config.extra.show_challengeaccepted %}
            <li data-menuanchor="challengeaccepted">
                <a href="{{ get_url(path='/#anchor_challengeaccepted') }}">CHALLENGE ACCEPTED</a>
            </li>
        {% endif %}
        {% if config.extra.show_experience %}
            <li data-menuanchor="experience">
                <a href="{{ get_url(path='/#anchor_experience') }}">EXPERIENCE</a>
            </li>
        {% endif %}
        {% if config.extra.show_credentials %}
        <li data-menuanchor="credentials">
            <a href="{{ get_url(path='/#anchor_credentials') }}">CREDENTIALS</a>
        </li>
        {% endif %}
        {% if config.extra.show_education %}
            <li data-menuanchor="education">
                <a href="{{ get_url(path='/#anchor_education') }}">EDUCATION</a>
            </li>
        {% endif %}
        {% if config.extra.show_blog %}
            <li data-menuanchor="blog">
                <a href="{{ get_url(path='/#anchor_blog') }}">BLOG POSTS</a>
            </li>
        {% endif %}
        {% if config.extra.show_research %}
        <li data-menuanchor="research">
            <a href="{{ get_url(path='/#anchor_research') }}">R&D</a>
        </li>
    {% endif %}
    </ul>
{% endmacro %}
{% macro fullpage() %}
    <script src="https://cdn.jsdelivr.net/npm/fullpage.js@3.1.2/dist/fullpage.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullpage.js@3.1.2/vendors/scrolloverflow.min.js"></script>
    <script type="text/javascript">
    var fullpages = new fullpage('#fullpage', {
        menu: '#menu',
        setRecordHistory: false,
        anchors: [
            {% if config.extra.show_about           %} 'anchor_about',         {% endif %}
            {% if config.extra.show_skills          %} 'anchor_skills',        {% endif %}
            {% if config.extra.show_projects        %} 'anchor_projects',      {% endif %}
            {% if config.extra.show_challengeaccepted      %} 'anchor_challengeaccepted',    {% endif %}
            {% if config.extra.show_experience      %} 'anchor_experience',    {% endif %}
            {% if config.extra.show_credentials     %} 'anchor_credentials',   {% endif %}
            {% if config.extra.show_education       %} 'anchor_education',     {% endif %}
            {% if config.extra.show_blog            %} 'anchor_blog',          {% endif %}
            {% if config.extra.show_research        %} 'anchor_research',      {% endif %}
        ],
        afterResize: function( width, height ){
		    if (width < 936) {
                fullpage_api.setAutoScrolling(false);
            } else {
                fullpage_api.setAutoScrolling(true);
            }
	    }
    });
    if (screen.width < 936){
        fullpages.setAutoScrolling(false);
    }

    </script>
{% endmacro %}
